<br/>
 <div class="row valign-wrapper">
  <form name="create-post" class="col s8" action="/companies" method="post">
       <p id = "formHeading"> Create A New Company </p>
        <br/>

  <div class="row">
    <div class="input-field col s6">
    <input id="companyName" type="text" class="validate" name="companyName">
          <label for="companyName">Company Name</label>
            </div>
        </div>

        <div class="row">
         <div class="input-field col s6">
            <input id="companyWebsite" type="text" class="validate" name="companyWebsite">
               <label for="companyWebsite">Website</label>
            </div>
        </div>
                <div class ="row">
                    <div class="input-field col s6">
                         <input id="companyPhone" type="number" class="validate" name="companyPhone">
                         <label for="companyPhone">Phone number</label>
                    </div>
                </div>

              <div class ="row">
                  <div class="input-field col s6">
                      <input id="companyAddress" type="text" class="validate" name="CompanyAddress">
                      <label for="companyAddress">Address</label>
                  </div>
              </div>
              <div class ="row">
                  <div class="input-field col s6">
                      <input id="state" type="text" class="validate" name="state">
                      <label for="state">State</label>
                  </div>
              </div>
            <div class="row">
                 <div class="input-field col s6">
                    <input id="City" type="text" class="validate" name="City">
                    <label for="City">City</label>
                </div>
            </div>

          <div class="row">
                 <div class="input-field col s6">
                <input id="Zipcode" type="number" class="validate" name="Zipcode">
                   <label for="Zipcode">Zipcode</label>
                </div>
          </div>

           <br/>
        <button class="btn #8bc34a light-green white-text text-white" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button>
      </form>
      </div>
