<div style= "width: 40%; float: left; margin-left: 250px;">
<p id="formHeading">Account information</p>
  <div class="row">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder= {{cur_user.firstName}} id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        </div>
       
<br/>

<div class="row">
        <div class="input-field col s6">
          <input placeholder= {{cur_user.lastName}} id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
        </div>

        <div class="row">
        <div class="input-field col s6">
          <input placeholder= {{cur_user.username}} id="username" type="text" class="validate">
          <label for="username">Username</label>
        </div>
        </div>

        <div class="row">
        <div class="input-field col s6">
          <input placeholder= {{cur_user.email}} id="email" type="text" class="validate">
          <label for="email">Email</label>
        </div>
        </div>
</div>

<button class="btn light-green accent-2 white-text text-white" type="submit" name="action" style="margin-left: 90px;">Edit
  </button>
</div>

<div style="width: 40%; float: right; ">
<p id="formHeading">Favorite sports</p>
    <p class="chewyText">Tennis</p>
    <p class="chewyText">Football</p>
</div>

  <div class="row">
    <div class="col-sm-12">

     
     
        

    </div>
  </div>
  </div>
  </div>