<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h2>Personal Information</h2>
      <ul>
        <li>Username: {{cur_user.username}}</li>
        <li>First name: {{cur_user.firstName}} </li>
        <li>Last name: {{cur_user.lastName}} </li>
        <li>Email: {{cur_user.email}} </li>
      </ul>
      <a href="/edit-profile">Edit Profile</a>
    </div>
  </div>
</div>
