
html, body {
    padding-right: none;
    padding-left: none;
    overflow-x: hidden;
}

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  padding:0px;
  margin:0px;

  }

  main {
      flex: 1 0 auto;
      padding-left: 0px;
      padding-right: 0px;
      width: 100%;
      height:100%;
      margin-bottom:0px;
  }

 #formHeading{
  font-family: 'Ubuntu';
  font-size: 34px;
  color: #fe8e60;
 }

 .yellow-text{
  font-family: 'Anonymous Pro', monospace;
  font-size: 24px;
 }

 #footer-text{
  font-family: 'Anonymous Pro', monospace;
  color: #fbc02d;
  font-size: 16px;
 }

 .white-text {
  font-family: 'Ubuntu';
  font-size: 20px;
 }

 .chewyText{
  color: #6d6b70;
font-family: 'Chewy', cursive;
font-size: 30px;
 }

 /* label color */
.input-field label {
color: #6d6b70;
font-family: 'Chewy', cursive;
font-size: 30px;
   }

   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #8bc34a;
     box-shadow: 0 1px 0 0 #8bc34a;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid red;
     box-shadow: 0 1px 0 0 red;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #8bc34a;
   }

  /* Custom Stylesheet */
  /** front page css
   */

  p {
      line-height: 2rem;
  }

  .button-collapse {
      color: #ffffff;
  }

  .parallax {
      padding-top: 160px;
      padding-bottom:0px;
      width:100%;
      height:100%;
  }

  .parallax-container {
      min-height: 380px;
      line-height: 0;
      width: auto;
      height: auto;
      /*padding-bottom:50px;*/
      color: rgba(255,255,255,.9);
      margin-left: -300px;
      margin-right: -300px;
  }
  .parallax-container .section {
      width: 100%;
  }

  @media only screen and (max-width : 992px) {
      .parallax-container .section {
          position: absolute;
          top: 40%;
      }
      #index-banner .section {
          top: 10%;
      }
  }

  @media only screen and (max-width : 600px) {
      #index-banner .section {
          top: 0;
      }
  }

  .icon-block {
      padding: 0 15px;
  }
  .icon-block .material-icons {
      font-size: inherit;
  }

  footer.page-footer {
      /*margin-bottom: 0% !important;*/
      /*margin-top: 0% !important;*/
      position: relative;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 1rem;

  }
/*.footer {*/
    /*position: absolute;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*padding: 1rem;*/
    /*background-color: #efefef;*/
    /*text-align: center;*/
/*}*/
/*.grey.darken-2{*/
    /*margin-top: 0% */

/*}*/
  #targetFooter {

      margin-top:0px;

  }

  .header{
      color:#fbc02d !important;
      font-size: 2em;
      font-weight:600;
      text-shadow: 0px 0px 3px #000;
      font-family: 'Poiret One', cursive;
  }
  #content {
      width: auto;
  }

  #index-banner {
      width:auto;
      margin-left: -300px;
      margin-right: -300px;
      margin-top: -22px;
      height:100%;
      padding-top: 200px;
      padding-bottom: 200px;
  }


  /*
   #changeFont {
      font-family: 'Chewy', cursive;
    }
  #headings{
    color: #fe8e60;
    font-family: 'Ubuntu', sans-serif;
  }
  #formLabels{
    color: #6d6b70;
    font-family: 'Chewy', cursive;
    font-size: 22px;
  }
  #orangeBox{
    background-color: #FFA500;
    opacity: 0.7;
    padding: 30px;
    border-radius: 15%;
    position: absolute;
  }
  #h4Labels{
    font-family: 'Anonymous Pro', monospace;
    color: #6d6b70;
    text-align: center;
    font-size: 22px;
  }
  #submitBtn{
    background-color: #99e265;
    border-color: #99e265;
    margin-left: 200px;
  }
  #cancelBtn{
    background-color: #ff4b40;
    border-color: #ff4b40;
    display: inline-block;
    margin-left: 50px;
  }
  #navbar{
    background-color: #6d6b70;
    height: 55px;
    opacity: 0.9;
  }
  #navbarLinks{
    color: #ffd130;
    font-family: 'Anonymous Pro', monospace;
    font-size: 24px;
  }
  /*
  #verticalLine{
  color: #fe8e60;
  height: 5%;
  width: 5%;
  }
  #headings{
    color: #fe8e60;
    font-family: 'Ubuntu', sans-serif;
  }
  #formLabels{
    color: #6d6b70;
    font-family: 'Chewy', cursive;
    font-size: 22px;
  }
  #orangeBox{
    background-color: #FFA500;
    opacity: 0.7;
    padding: 30px;
    border-radius: 15%;
  }
  #h4Labels{
    font-family: 'Anonymous Pro', monospace;
    color: #6d6b70;
    text-align: center;
    font-size: 22px;
  }
  #submitBtn{
    background-color: #99e265;
    border-color: #99e265;
    margin: auto;
  }
  #cancelBtn{
    background-color: #ff4b40;
    border-color: #ff4b40;
    margin: auto;
  }
  #footer{
    background-color: #ffd130;
    text-align: center;
    opacity: 0.7;
  }
  #containerAfterNavbar{
    padding-top: 10px;
  }
  */

/* >> Google Maps << */

#map {
    height: 500px;
}
