<br/>

<div class = "container">

<!-- Enter location -->
    <form class="col s12 name = "enter-location" action="/enter-location" method="post"">     
      <div class="row valign-wrapper">
        <div class="col s8  orange-text text-darken-2">
          Enter Zip code:
          <div class="input-field inline">
            <input id="zipcode" type="text" class="validate">
            <label for="zipcode" data-error="wrong" data-success="right">Zip code</label>
          </div>
        </div>
      </div>
    </form>
 <br/> 

<!-- Choose sport -->
<p class = "orange-text text-darken-2 center-align"> Choose Sport  </p>
<div>
<div class="chip">
    Tennis
    <i class="close material-icons">close</i>
  </div>
  <div class="chip">
    Football
    <i class="close material-icons">close</i>
  </div>
  <div class="chip">
    Basketball
    <i class="close material-icons">close</i>
  </div>
  <div class="chip">
    Hockey
    <i class="close material-icons">close</i>
  </div>
   <div class="chip">
    Volleyball
    <i class="close material-icons">close</i>
  </div>
 <div class="chip">
    Ping Pong
    <i class="close material-icons">close</i>
  </div>
 <div class="chip">
    Dodge ball
    <i class="close material-icons">close</i>
  </div>
 <div class="chip">
    Softball
    <i class="close material-icons">close</i>
  </div>
   <div class="chip">
    Soccer
    <i class="close material-icons">close</i>
  </div>
   <div class="chip">
    Kickball
    <i class="close material-icons">close</i>
  </div>
   <div class="chip">
    Baseball
    <i class="close material-icons">close</i>
  </div>
</div>

<br/>
<div class="center-align">
<button class="btn light-green accent-2 white-text text-white" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
  </div>
</div>