<br/>

<style>
.clicked {
  background-color: yellow;
}

#selectedChip{
  visibility:hidden;
}
</style>

<div class = "container">

<!-- Choose sport -->
<form class="col s12" name="sports" action="/sports" method="post">
  <p class = "orange-text text-darken-2 center-align"> Choose Sport  </p>

<div class="chip" id = "1">
    Tennis
    <i class="close material-icons">close</i>
  </div>
  <div class="chip" id = "2">
    Crisket
    <i class="close material-icons">close</i>
  </div>
  <div class="chip" id = "3">
    Basketball
    <i class="close material-icons">close</i>
  </div>
  <div class="chip" id = "4">
    Hockey
    <i class="close material-icons">close</i>
  </div>
   <div class="chip" id = "5">
    Volleyball
    <i class="close material-icons">close</i>
  </div>
 <div class="chip" id = "6">
    Ping Pong
    <i class="close material-icons">close</i>
  </div>
 <div class="chip" id = "7">
    Dodge ball
    <i class="close material-icons">close</i>
  </div>
 <div class="chip" id = "8">
    Softball
    <i class="close material-icons">close</i>
  </div>
   <div class="chip" id = "9">
    Soccer
    <i class="close material-icons">close</i>
  </div>
   <div class="chip" id = "10">
    Kickball
    <i class="close material-icons">close</i>
  </div>
   <div class="chip" id = "11">
    Baseball
    <i class="close material-icons">close</i>
</div>

<br/>
<div class="center-align">
<button class="btn #8bc34a light-green white-text text-white" id = "sportsBtn" type="submit">Submit
    <i class="material-icons right">send</i>
  </button>
  </div>
  </form>
  </div>

 <input disabled id="selectedChip" name="selectedChip"> </input>
</div>

<script>

var selectedChip;

// change color of selected chips to yellow
$(".chip").click(function() {
$(this).toggleClass('clicked');

 selectedChip = this.id;

console.log(selectedChip);
document.getElementById("selectedChip").value = selectedChip;
});

$("#sportsBtn").click(function(){
    $.get('/sports', selectedChip, function(data){
        alert("selected");
    });
});


</script>