<br/>

<div class = "container">

<!-- Choose sport -->
<p class = "orange-text text-darken-2 center-align"> Choose Sport  </p>
<div>
<div class="chip" id = "1">
    Tennis
    <i class="close material-icons">close</i>
  </div>
  <div class="chip" id = "3">
    Basketball
    <i class="close material-icons">close</i>
  </div>
  <div class="chip" id = "4">
    Hockey
    <i class="close material-icons">close</i>
  </div>
   <div class="chip" id = "5">
    Volleyball
    <i class="close material-icons">close</i>
  </div>
 <div class="chip" id = "6">
    Ping Pong
    <i class="close material-icons">close</i>
  </div>
 <div class="chip" id = "7">
    Dodge ball
    <i class="close material-icons">close</i>
  </div>
 <div class="chip" id = "8">
    Softball
    <i class="close material-icons">close</i>
  </div>
   <div class="chip" id = "9">
    Soccer
    <i class="close material-icons">close</i>
  </div>
   <div class="chip" id = "10">
    Kickball
    <i class="close material-icons">close</i>
  </div>
   <div class="chip" id = "11">
    Baseball
    <i class="close material-icons">close</i>
  </div>
</div>

<br/>
<div class="center-align">
<button class="btn light-green accent-2 white-text text-white" id="saveBtn" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
  </div>
</div>

<script>
$('#saveBtn').on('click', function() {
    console.log("whee!");
    console.log(sportspref);
  });

$(".chip").click(function() {
  $(this).toggleClass('clicked');
 var sportspref="";
 sportspref=this.id;

$.get( '/save', sportspref, function(data) {
  console.log("whee!")
});

 console.log("this user's sports preference is " + sportspref);
});
</script>