<div class="container">
  <div class="row">
    <div class="col-sm-12">
      {{#if cur_user}}
        <h1>Welcome back {{cur_user.firstName}}</h1>
      {{else}}
          <h1>Welcome</h1>
      {{/if}}
    </div>
  </div>
</div>
